body {
	margin: 0;
	border-top: 1.5em solid rgb(151, 83, 190);
	background: rgb(56, 44, 61);
	color: whitesmoke;
}

.content {
	margin: 0 auto;
	margin-top: 1em;
	width: 100%;
	max-width: 900px;
}

.input {
	border:none; 
	border-radius: 0.5em;
	width: 97%;
	background: rgb(151, 83, 190);
	color: white;
	padding: 1em;
	margin-bottom: 1em;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder {
   color: white; 
}

::-moz-placeholder {
   color: white;  
}

:-ms-input-placeholder {  
   color: white;
}


.button {
	width: 100%;
	padding: 2em;
	border: none;
	border-radius: 0.5em;
	color: white;
	font-size: 1.2em;
	background: #53b0be;
}

.button:hover {
	background: rgb(122, 190, 83);
}


input.findGame {
	clear: both;
}
.clear {
	clear: both;
}

#game {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

span.box {
	display: block;
	border: 2px solid white;
	height: 80px;
	width: 80px;
	float: left;
	margin: 5px;
}
div.information {
	clear: both;
}
div#serverInformation {
	clear: both;
	margin-top: 30px;
	font-size: 80%;
	font-style: italic;
}
span#gameInformation {
	font-weight: bold;
	font-size: 120%;
}
span.mark1 {
	background: url('/Content/Images/TicTacToeX.png') center center no-repeat;
}

span.mark2 {
	background: url('/Content/Images/TicTacToeO.png') center center no-repeat;
}
div#game {
	width: 320px;
}
fieldset {
	margin-top: 100px;
	display: none;
}
/*
.input { 
   
   -webkit-border-radius:5px; 
   -moz-border-radius:5px; 
   border-radius:5px; 
   -webkit-box-shadow:0 0 5px #666 inset; 
   -moz-box-shadow:0 0 5px #666 inset; 
   box-shadow:0 0 5px #666 inset; 
   height:25px; 
   line-height:25px; 
   width:150px; 
   text-indent:5px; 
} */

.input:focus { outline:none; }
/*.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}*/